apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: monitoring
spec:
  type: LoadBalancer
  selector:
    app: prometheus
  ports:
    - port: 9090        # Cluster port
      targetPort: 9090  # Pod container port
      nodePort: 32001   # Node port (must be between 30000-32767)

