apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:

      # ----------------------------
      # kube-state-metrics (pods, deployments, namespaces)
      # ----------------------------
      - job_name: 'kube-state-metrics'
        kubernetes_sd_configs:
          - role: service
            namespaces:
              names:
                - monitoring
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_label_app]
            action: keep
            regex: kube-state-metrics
          - source_labels: [__address__]
            target_label: __address__
            regex: (.+)
            replacement: $1:8080

      # ----------------------------
      # node-exporter (node metrics)
      # ----------------------------
      - job_name: 'node-exporter'
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:9100
          - source_labels: [__meta_kubernetes_node_name]
            target_label: instance
